.form {
  background-color: #ffffff;
  max-width: 50rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
}

.form label {
  font-weight: 700;
}

.form input {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.form input.invalid {
  border-color: red;
  background: pink;
}
